# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=minibank
DB_PASSWORD=password
DB_NAME=minibank

# JWT Configuration
# IMPORTANT: Change this to a secure random string in production
JWT_SECRET=QKdBktowN/jUfJaywvmD2j4uLknTtReekRAQVogT8TQ=

# Server Configuration
PORT=8080
ENV=development
